header {
    background: #f72210;
}

a {
    color: black;
} 

a:hover {
    text-decoration: underline #f72210;
    color:  black;
}

.card {
    border: none;
}

h4 {
    font-size: 16px;;
}

.culture h4 {
    margin: 0 -15px;
    background: lightgray;
    padding-left: 15px;
}

.culture .card {
    background: lightgray;
    padding: 15px;
}

.culture .card h5, p {
    font-size: 14px;
}

.culture .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
} 

.opinion-list li {
    border-bottom: 1px solid lightgray;
}

.opinion-list li:last-of-type {
    border-bottom: none;
}

.more-list img, .latest-list img, .list img {
    width: 40%;
}

.more-list li, .latest-list li {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid lightgray;
}

.in h4 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.in .burn {
    height: 270px;
}

.in-caption > div {
    margin-top: 20px;
   width: 30%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.in-caption > div h6:first-of-type {
    color: white;
    background: #f72210;
    padding: 5px;
}

.in-caption > div h6:last-of-type a {
    color: #f72210;
}

.in > div:last-child {
    margin: 0 1px;
}

.nletter {
    padding: 30px;
}

.nletter .card {
    background-color: rgb(231, 225, 225);
}

.little {
    background: rgba(255, 255, 255, 0.74);
    padding: 0  10px;
    bottom: 0;
    left: 0;
    line-height: 58px;
    text-indent: 5px;
    text-align: center;
    color: #e9212e;
}

.slideshow .little {
    background: url(./images/icon-slideshows.png) 0 0/contain no-repeat;
    width: 70px;
    height: 52px;
}

.navi {
    border-top: 1px solid rgb(216, 208, 208);
    margin: 20px 0;
    padding-top: 20px;
}

.subin .container, .subin .container .card {
    background-color: lightgray;
}

.subin .container .card img {
    margin: 20px;
    padding-right: 40px;
}

.subin .container .card .card-body {
    margin-top: 50px;
}

.subin > div > div:last-child .card {
    border: 1px solid lightgray;
}

